.img:hover{
    filter: brightness(0.3); /* 이미지 밝기를 50%로 줄임 */
    transition: filter 0.2s;

}
.img{
    width: 150px;
    height: 200px;
    border-radius: 5%;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(132px, 1fr));
    gap: 20px;
}